/* Aggiungere una classe .welcome al componente Welcome che imposta il colore di sfondo e aggiunge un bordo. */

.welcome {
  background-color: rgba(159, 241, 159, 0.424);
  border: 3px solid salmon;
}
.redcolor {
  background-color: red;
}
.greencolor{
  background-color: green;
}